.dashboard{

padding:30px;

}



.dashboard h1{

font-size:32px;

color:#333;

}



.welcome{

color:#777;

margin-bottom:30px;

}



.dashboard-cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}



.dashboard-card{

padding:25px;

border-radius:18px;

display:flex;

align-items:center;

gap:20px;

color:white;

box-shadow:0 8px 20px rgba(0,0,0,0.15);

transition:0.3s;

}



.dashboard-card:hover{

transform:translateY(-8px);

}



.dashboard-card h3{

font-size:35px;

margin:0;

}



.dashboard-card p{

font-size:18px;

margin:5px 0;

}



.card-icon{

font-size:45px;

}



.doctor{

background:linear-gradient(135deg,#007bff,#00c6ff);

}



.patient{

background:linear-gradient(135deg,#198754,#20c997);

}



.appointment{

background:linear-gradient(135deg,#ffc107,#ff9800);

}



.bed{

background:linear-gradient(135deg,#6f42c1,#d63384);

}



.bill{

background:linear-gradient(135deg,#dc3545,#ff6b6b);

}